<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <http class="com.github.loki4j.logback.ApacheHttpSender">
            <url>http://localhost:3100/loki/api/v1/push</url>
        </http>
        <format>
            <label>
                <pattern>app=my-app,host=${HOSTNAME},level=%level</pattern>
            </label>
            <message>
                <pattern>l=%level h=${HOSTNAME} c=%logger{20} t=%thread | %msg %ex</pattern>
            </message>
            <sortByTime>true</sortByTime>
        </format>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="LOKI" />
    </root>
 </configuration>
[2m2021-11-02 09:31:37.702[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m57598[0;39m [2m---[0;39m [2m[           main][0;39m [36morg.nbrendah.SampleApiApplication       [0;39m [2m:[0;39m Starting SampleApiApplication using Java 1.8.0_292 on joshua with PID 57598 (/home/brendah/my_examples/nbrendah-tracing-sample/api/target/classes started by brendah in /home/brendah/my_examples/nbrendah-tracing-sample/api) 
[2m2021-11-02 09:31:37.705[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m57598[0;39m [2m---[0;39m [2m[           main][0;39m [36morg.nbrendah.SampleApiApplication       [0;39m [2m:[0;39m No active profile set, falling back to default profiles: default 
[2m2021-11-02 09:31:38.537[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m57598[0;39m [2m---[0;39m [2m[           main][0;39m [36mo.s.b.w.embedded.tomcat.TomcatWebServer [0;39m [2m:[0;39m Tomcat initialized with port(s): 8080 (http) 
[2m2021-11-02 09:31:38.545[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m57598[0;39m [2m---[0;39m [2m[           main][0;39m [36mo.apache.catalina.core.StandardService  [0;39m [2m:[0;39m Starting service [Tomcat] 
[2m2021-11-02 09:31:38.546[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m57598[0;39m [2m---[0;39m [2m[           main][0;39m [36morg.apache.catalina.core.StandardEngine [0;39m [2m:[0;39m Starting Servlet engine: [Apache Tomcat/9.0.41] 
[2m2021-11-02 09:31:38.583[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m57598[0;39m [2m---[0;39m [2m[           main][0;39m [36mo.a.c.c.C.[Tomcat].[localhost].[/]      [0;39m [2m:[0;39m Initializing Spring embedded WebApplicationContext 
[2m2021-11-02 09:31:38.583[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m57598[0;39m [2m---[0;39m [2m[           main][0;39m [36mw.s.c.ServletWebServerApplicationContext[0;39m [2m:[0;39m Root WebApplicationContext: initialization completed in 834 ms 
[2m2021-11-02 09:31:38.832[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m57598[0;39m [2m---[0;39m [2m[           main][0;39m [36mo.s.s.concurrent.ThreadPoolTaskExecutor [0;39m [2m:[0;39m Initializing ExecutorService 'applicationTaskExecutor' 
[2m2021-11-02 09:31:38.990[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m57598[0;39m [2m---[0;39m [2m[           main][0;39m [36mo.s.b.a.e.web.EndpointLinksResolver     [0;39m [2m:[0;39m Exposing 3 endpoint(s) beneath base path '/actuator' 
[2m2021-11-02 09:31:39.035[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m57598[0;39m [2m---[0;39m [2m[           main][0;39m [36mo.s.b.w.embedded.tomcat.TomcatWebServer [0;39m [2m:[0;39m Tomcat started on port(s): 8080 (http) with context path '' 
[2m2021-11-02 09:31:39.052[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m57598[0;39m [2m---[0;39m [2m[           main][0;39m [36morg.nbrendah.SampleApiApplication       [0;39m [2m:[0;39m Started SampleApiApplication in 1.697 seconds (JVM running for 1.96) 
[2m2021-11-02 09:32:23.517[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m57598[0;39m [2m---[0;39m [2m[nio-8080-exec-1][0;39m [36mo.a.c.c.C.[Tomcat].[localhost].[/]      [0;39m [2m:[0;39m Initializing Spring DispatcherServlet 'dispatcherServlet' 
[2m2021-11-02 09:32:23.518[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m57598[0;39m [2m---[0;39m [2m[nio-8080-exec-1][0;39m [36mo.s.web.servlet.DispatcherServlet       [0;39m [2m:[0;39m Initializing Servlet 'dispatcherServlet' 
[2m2021-11-02 09:32:23.519[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m57598[0;39m [2m---[0;39m [2m[nio-8080-exec-1][0;39m [36mo.s.web.servlet.DispatcherServlet       [0;39m [2m:[0;39m Completed initialization in 1 ms 
[2m2021-11-02 09:32:23.553[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m57598[0;39m [2m---[0;39m [2m[nio-8080-exec-1][0;39m [36morg.nbrendah.travel.TravelController    [0;39m [2m:[0;39m Before Service Method Call 
[2m2021-11-02 09:32:23.553[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m57598[0;39m [2m---[0;39m [2m[nio-8080-exec-1][0;39m [36morg.nbrendah.travel.TravelService       [0;39m [2m:[0;39m Getting travels for India 
[2m2021-11-02 09:32:23.554[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m57598[0;39m [2m---[0;39m [2m[nio-8080-exec-1][0;39m [36morg.nbrendah.travel.TravelClient        [0;39m [2m:[0;39m Getting Travels from http://localhost:8090/travels 
[2m2021-11-02 09:32:23.919[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m57598[0;39m [2m---[0;39m [2m[nio-8080-exec-1][0;39m [36morg.nbrendah.travel.TravelService       [0;39m [2m:[0;39m Doing some work In New span 
[2m2021-11-02 09:32:26.318[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m57598[0;39m [2m---[0;39m [2m[nio-8080-exec-2][0;39m [36morg.nbrendah.travel.TravelController    [0;39m [2m:[0;39m Before Service Method Call 
[2m2021-11-02 09:32:26.328[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m57598[0;39m [2m---[0;39m [2m[nio-8080-exec-2][0;39m [36morg.nbrendah.travel.TravelService       [0;39m [2m:[0;39m Getting travels for India 
[2m2021-11-02 09:32:26.331[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m57598[0;39m [2m---[0;39m [2m[nio-8080-exec-2][0;39m [36morg.nbrendah.travel.TravelClient        [0;39m [2m:[0;39m Getting Travels from http://localhost:8090/travels 
[2m2021-11-02 09:32:26.382[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m57598[0;39m [2m---[0;39m [2m[nio-8080-exec-2][0;39m [36morg.nbrendah.travel.TravelService       [0;39m [2m:[0;39m Doing some work In New span 
[2m2021-11-02 09:39:51.257[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m57598[0;39m [2m---[0;39m [2m[extShutdownHook][0;39m [36mo.s.s.concurrent.ThreadPoolTaskExecutor [0;39m [2m:[0;39m Shutting down ExecutorService 'applicationTaskExecutor' 
[2m2021-11-02 09:40:16.418[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m58460[0;39m [2m---[0;39m [2m[           main][0;39m [36morg.nbrendah.SampleApiApplication       [0;39m [2m:[0;39m Starting SampleApiApplication using Java 1.8.0_292 on joshua with PID 58460 (/home/brendah/my_examples/nbrendah-tracing-sample/api/target/classes started by brendah in /home/brendah/my_examples/nbrendah-tracing-sample/api) 
[2m2021-11-02 09:40:16.421[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m58460[0;39m [2m---[0;39m [2m[           main][0;39m [36morg.nbrendah.SampleApiApplication       [0;39m [2m:[0;39m No active profile set, falling back to default profiles: default 
[2m2021-11-02 09:40:17.268[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m58460[0;39m [2m---[0;39m [2m[           main][0;39m [36mo.s.b.w.embedded.tomcat.TomcatWebServer [0;39m [2m:[0;39m Tomcat initialized with port(s): 8080 (http) 
[2m2021-11-02 09:40:17.275[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m58460[0;39m [2m---[0;39m [2m[           main][0;39m [36mo.apache.catalina.core.StandardService  [0;39m [2m:[0;39m Starting service [Tomcat] 
[2m2021-11-02 09:40:17.275[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m58460[0;39m [2m---[0;39m [2m[           main][0;39m [36morg.apache.catalina.core.StandardEngine [0;39m [2m:[0;39m Starting Servlet engine: [Apache Tomcat/9.0.41] 
[2m2021-11-02 09:40:17.320[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m58460[0;39m [2m---[0;39m [2m[           main][0;39m [36mo.a.c.c.C.[Tomcat].[localhost].[/]      [0;39m [2m:[0;39m Initializing Spring embedded WebApplicationContext 
[2m2021-11-02 09:40:17.321[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m58460[0;39m [2m---[0;39m [2m[           main][0;39m [36mw.s.c.ServletWebServerApplicationContext[0;39m [2m:[0;39m Root WebApplicationContext: initialization completed in 840 ms 
[2m2021-11-02 09:40:17.571[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m58460[0;39m [2m---[0;39m [2m[           main][0;39m [36mo.s.s.concurrent.ThreadPoolTaskExecutor [0;39m [2m:[0;39m Initializing ExecutorService 'applicationTaskExecutor' 
[2m2021-11-02 09:40:17.723[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m58460[0;39m [2m---[0;39m [2m[           main][0;39m [36mo.s.b.a.e.web.EndpointLinksResolver     [0;39m [2m:[0;39m Exposing 3 endpoint(s) beneath base path '/actuator' 
[2m2021-11-02 09:40:17.756[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m58460[0;39m [2m---[0;39m [2m[           main][0;39m [36mo.s.b.w.embedded.tomcat.TomcatWebServer [0;39m [2m:[0;39m Tomcat started on port(s): 8080 (http) with context path '' 
[2m2021-11-02 09:40:17.770[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m58460[0;39m [2m---[0;39m [2m[           main][0;39m [36morg.nbrendah.SampleApiApplication       [0;39m [2m:[0;39m Started SampleApiApplication in 1.645 seconds (JVM running for 1.894) 
[2m2021-11-02 09:40:43.405[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m58460[0;39m [2m---[0;39m [2m[nio-8080-exec-1][0;39m [36mo.a.c.c.C.[Tomcat].[localhost].[/]      [0;39m [2m:[0;39m Initializing Spring DispatcherServlet 'dispatcherServlet' 
[2m2021-11-02 09:40:43.405[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m58460[0;39m [2m---[0;39m [2m[nio-8080-exec-1][0;39m [36mo.s.web.servlet.DispatcherServlet       [0;39m [2m:[0;39m Initializing Servlet 'dispatcherServlet' 
[2m2021-11-02 09:40:43.407[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m58460[0;39m [2m---[0;39m [2m[nio-8080-exec-1][0;39m [36mo.s.web.servlet.DispatcherServlet       [0;39m [2m:[0;39m Completed initialization in 2 ms 
[2m2021-11-02 09:40:43.435[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m58460[0;39m [2m---[0;39m [2m[nio-8080-exec-1][0;39m [36morg.nbrendah.travel.TravelController    [0;39m [2m:[0;39m Before Service Method Call 
[2m2021-11-02 09:40:43.436[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m58460[0;39m [2m---[0;39m [2m[nio-8080-exec-1][0;39m [36morg.nbrendah.travel.TravelService       [0;39m [2m:[0;39m Getting travels for India 
[2m2021-11-02 09:40:43.437[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m58460[0;39m [2m---[0;39m [2m[nio-8080-exec-1][0;39m [36morg.nbrendah.travel.TravelClient        [0;39m [2m:[0;39m Getting Travels from http://localhost:8090/travels 
[2m2021-11-02 09:40:43.524[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m58460[0;39m [2m---[0;39m [2m[nio-8080-exec-1][0;39m [36morg.nbrendah.travel.TravelService       [0;39m [2m:[0;39m Doing some work In New span 
[2m2021-11-02 10:05:33.153[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m58460[0;39m [2m---[0;39m [2m[nio-8080-exec-3][0;39m [36morg.nbrendah.travel.TravelController    [0;39m [2m:[0;39m Before Service Method Call 
[2m2021-11-02 10:05:33.157[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m58460[0;39m [2m---[0;39m [2m[nio-8080-exec-3][0;39m [36morg.nbrendah.travel.TravelService       [0;39m [2m:[0;39m Getting travels for India 
[2m2021-11-02 10:05:33.162[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m58460[0;39m [2m---[0;39m [2m[nio-8080-exec-3][0;39m [36morg.nbrendah.travel.TravelClient        [0;39m [2m:[0;39m Getting Travels from http://localhost:8090/travels 
[2m2021-11-02 10:05:33.194[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m58460[0;39m [2m---[0;39m [2m[nio-8080-exec-3][0;39m [36morg.nbrendah.travel.TravelService       [0;39m [2m:[0;39m Doing some work In New span 
[2m2021-11-02 11:17:35.200[0;39m [32m INFO[0;39m [32m[api,,][0;39m [35m58460[0;39m [2m---[0;39m [2m[extShutdownHook][0;39m [36mo.s.s.concurrent.ThreadPoolTaskExecutor [0;39m [2m:[0;39m Shutting down ExecutorService 'applicationTaskExecutor' 
